@import 'variables.styl'

.content-wrap
  margin 0 auto
  padding 0 2 rem

  &::before
    content " "
    display table

  +media(medium)
    max-width 118rem
    padding 0 4rem

  +media(large)
    max-width 120rem
