@import 'variables.styl'

.input
  display: inline-block
  position: relative
  width: 100%

  & > input, & > textarea
    border: 1px solid $gray3
    border-radius: 3px
    display: block
    font-size: 1.5rem
    outline: 0
    padding: 1rem
    width: 100%

    &:focus
      border: 1px solid $link-color

    &:disabled
      background-color: $gray5
      border-color: $gray4
      color: $gray2
      cursor: not-allowed

  &.error > input, &.error > textarea
    border: 1px solid $red
    color: $red

    &:focus
      border: 1px solid $red

  &.icon > input
    padding-left: 3.5rem

.input-message
  position: absolute
  right: 0
  top: 100%

  &.error
    color: $red
