@import "../../../assets/css/variables.css";

@define-mixin modifier {
  @mixin-content

  @media (--sm-viewport) {
    &-sm {
      @mixin-content;
    }
  }

  @media (--md-viewport) {
    &-md {
      @mixin-content;
    }
  }

  @media (--lg-viewport) {
    &-lg {
      @mixin-content;
    }
  }
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: var(--gutter-compensation, -0.5rem);
  margin-left: var(--gutter-compensation, -0.5rem);

  &-reverse {
    flex-direction: row-reverse;
  }
}

.start {
  @mixin modifier {
    justify-content: flex-start;
    text-align: start;
  }
}

.center {
  @mixin modifier {
    justify-content: center;
    text-align: center;
  }
}

.end {
  @mixin modifier {
    justify-content: flex-end;
    text-align: end;
  }
}

.top {
  @mixin modifier {
    align-items: flex-start;
  }
}

.middle {
  @mixin modifier {
    align-items: center;
  }
}

.bottom {
  @mixin modifier {
    align-items: flex-end;
  }
}

.around {
  @mixin modifier {
    justify-content: space-around;
  }
}

.between {
  @mixin modifier {
    justify-content: space-between;
  }
}

.first {
  @mixin modifier {
    order: -1;
  }
}

.last {
  @mixin modifier {
    order: 1;
  }
}
