@import 'variables.styl'

.icon
  vertical-align middle

  &.small
    width 1.5rem
    height 1.5rem

  &.medium
    width 2rem
    height 2rem

  &.large
    width 3rem
    height 3rem

  &.primary
    color $accent-color
  
  &.link
    color $link-color
