@import 'variables.styl'

.icon
  vertical-align: middle

  &.small
    height: 1.5rem
    width: 1.5rem

  &.medium
    height: 2rem
    width: 2rem

  &.large
    height: 3rem
    width: 3rem

  &.primary
    color: $accent-color
  
  &.link
    color: $link-color
