@import "../../../assets/css/variables.css";

.column {
  padding: 1.5rem 0 1.5rem 1rem;
  vertical-align: middle;
  text-align: left;
  border: 1px solid black;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
  padding-right: 1rem;
}

.checkbox {
  width: 1.5rem;
  padding: 1rem;
  text-align: center;
}
