@import "../../../assets/css/variables.css";

.tab-panel {
  background-color: white;
  color: color(black a(75%));
  position: relative;
  overflow: hidden;
  max-height: 60rem;
  transition: max-height 500ms ease-in-out;

  &.darker {
    background-color: var(--slate-color);
    color: white;
  }

  &.dark {
    background-color: color(var(--slate-color) a(90%));
    color: #fff;
  }

  &-closed {
    @media (--medium-viewport) {
      max-height: 6rem;

      &::after {
        transform: rotate(90deg);
      }
    }
  }

  @media (--medium-viewport) {
    background-color: var(--slate-color);
    padding: 2rem 2.5rem 2rem 2.5rem;
    font-size: 2rem;

    &::before {
      content: 'Menu';
      color: white;
      display: block;
      margin-bottom: 2rem;

      &-closed {
        margin-bottom: 0
      }
    }

    &::after {
      position: absolute;
      content: '\f123';
      font-family: Ionicons;
      right: 2.5rem;
      top: 2rem;
      color: white;
      transition: all 250ms ease;
    }
  }
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.mobile-menu {
  cursor: pointer;
  width: 0%;
  height: 0%;

  @media (--medium-viewport) {
    z-index: 10;
    position: absolute;
    height: 6rem;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
