@import 'variables.styl'

html
  &[data-whatinput="keyboard"] .nav-item > div > :first-child:focus
    border-color: $accent-color
    outline: 0


  &[data-whatinput="mouse"] .nav-item > div > :first-child:focus
   outline: 0

.nav-item
  background-color: $tab-panel-background
  border: 1px solid transparent
  cursor: pointer
  display: inline-block
  position: relative

  > div
    color: $gray3
    display: inline-block
    font-size: 1.5rem

    > :first-child
      display: inline-block
      padding: 2rem

  &.active > div
    color: white
    

