@import 'variables.styl'

html
  &[data-whatinput="keyboard"] .nav-item:focus
    outline-color: $accent-color
    z-index: 5


  &[data-whatinput="mouse"] .nav-item:focus
   outline: 0

.nav-item
  background-color: $tab-panel-background
  border: 0
  cursor: pointer
  display: inline-block
  padding: 2rem
  position: relative

  > div
    color: $gray3
    display: inline-block
    font-size: 1.5rem

  &.active > div
    color: white

