{
  "presets": ["es2015", "react", "stage-0"],
  "env": {
    "production": {
      "plugins":     
      [
        "transform-export-extensions",
        [
          "import-rename", 
          { 
            "^(.*)\\.styl": "$1.css",
            "disable":
              {
                "development": true
              }
          }
        ],
      ]
    }
  },
  "plugins": [
    "transform-runtime", 
    [
      "typecheck", 
      {
        "disable": 
        {
          "production": true
        }
      }
    ]
  ]
}
