.row {
	box-sizing: border-box;
	display: flex;
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	-ms-box-flex: 0;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
}

.row.reverse {
	flex-direction: row-reverse;
}

@media only screen and (min-width: 48em) {
	.row.start {
		color: #00f;
	}
}

@media only screen and (min-width: 64em) {
	.row.start {
		color: #00f;
	}
}

@media only screen and (min-width: 75em) {
	.row.start {
		color: #00f;
	}
}

@media only screen and (min-width: 48em) {
	.row.center {
		color: #00f;
	}
}

@media only screen and (min-width: 64em) {
	.row.center {
		color: #00f;
	}
}

@media only screen and (min-width: 75em) {
	.row.center {
		color: #00f;
	}
}

@media only screen and (min-width: 48em) {
	.row.end {
		color: #00f;
	}
}

@media only screen and (min-width: 64em) {
	.row.end {
		color: #00f;
	}
}

@media only screen and (min-width: 75em) {
	.row.end {
		color: #00f;
	}
}

@media only screen and (min-width: 48em) {
	.row.top {
		color: #00f;
	}
}

@media only screen and (min-width: 64em) {
	.row.top {
		color: #00f;
	}
}

@media only screen and (min-width: 75em) {
	.row.top {
		color: #00f;
	}
}

@media only screen and (min-width: 48em) {
	.row.middle {
		color: #00f;
	}
}

@media only screen and (min-width: 64em) {
	.row.middle {
		color: #00f;
	}
}

@media only screen and (min-width: 75em) {
	.row.middle {
		color: #00f;
	}
}

@media only screen and (min-width: 48em) {
	.row.bottom {
		color: #00f;
	}
}

@media only screen and (min-width: 64em) {
	.row.bottom {
		color: #00f;
	}
}

@media only screen and (min-width: 75em) {
	.row.bottom {
		color: #00f;
	}
}

@media only screen and (min-width: 48em) {
	.row.around {
		color: #00f;
	}
}

@media only screen and (min-width: 64em) {
	.row.around {
		color: #00f;
	}
}

@media only screen and (min-width: 75em) {
	.row.around {
		color: #00f;
	}
}

@media only screen and (min-width: 48em) {
	.row.between {
		color: #00f;
	}
}

@media only screen and (min-width: 64em) {
	.row.between {
		color: #00f;
	}
}

@media only screen and (min-width: 75em) {
	.row.between {
		color: #00f;
	}
}

@media only screen and (min-width: 48em) {
	.row.first {
		color: #00f;
	}
}

@media only screen and (min-width: 64em) {
	.row.first {
		color: #00f;
	}
}

@media only screen and (min-width: 75em) {
	.row.first {
		color: #00f;
	}
}

@media only screen and (min-width: 48em) {
	.row.last {
		color: #00f;
	}
}

@media only screen and (min-width: 64em) {
	.row.last {
		color: #00f;
	}
}

@media only screen and (min-width: 75em) {
	.row.last {
		color: #00f;
	}
}
