@import 'variables.styl'

.columns
  box-sizing: border-box
  padding-left: $half-gutter-width
  padding-right: $half-gutter-width

.columns.tiny
  -ms-flex-positive: 1 // @stylint ignore
  -ms-flex-preferred-size: 0 // @stylint ignore
  -webkit-box-flex: 1
  flex-basis: 0
  flex-grow: 1
  max-width: 100%


for i in (1..12)
  .columns.tiny-{i}
    flex-basis: i * 8.3333333333333333 + '%'
    max-width: i * 8.3333333333333333 + '%'

  .columns.tiny-offset-{i}
    margin-left: i * 8.3333333333333333 + '%'

for type, index in $types
  .columns.{type}
    @extend .columns.tiny

    +media(type)
      for i in (1..12)
        &-{i}
          flex-basis: i * 8.3333333333333333 + '%'
          max-width: i * 8.3333333333333333 + '%'

        &-offset-{i}
          margin-left: i * 8.3333333333333333 + '%'
