@import "../../../assets/css/variables.css";

@define-mixin button $type, $color, $blend: 5 {
  &_$(type) {
    background-color: color($color);
    border-color: color($color blend(black 10%));
    border-top-color: color($color blend(black $(blend)%));

    &:hover:not(:disabled) {
      background-color: color($color blend(black $(blend)%));
    }

    &:focus:not(:disabled) {
      box-shadow: inset 0 0 0 2px #fff;
    }

    &:active:not(:disabled) {
      background-color: color($color blend(black calc($blend * 3)%));
      border-color: color($color blend(black calc($blend * 4)%));
      box-shadow: inset 0 -1px 0 0 color(white a(25%));
      border-bottom-color: color($color blend(black calc($blend * 3)%));
    }

    @mixin-content;
  }
}

.button {
  border-style: solid;
  border-width: 1px;
  font-weight: 500;
  outline: none;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
  padding: .75em 2rem .75em 2rem;
  font-size: 1em;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-block;
  color: white;

  @mixin button primary, var(--primary-color);
  @mixin button alternate, var(--link-color);
  @mixin button danger, var(--red);

  @mixin button warning, var(--gray5), 3 {
    color: var(--red);
    text-shadow: 0 -1px 0 0 color(white a(50%));

    &:focus:not(:disabled) {
      box-shadow: inset 0 0 0 2px var(--gray4);
      border-color: var(--gray3);
    }
  }

  @mixin button secondary, var(--gray5), 3 {
    color: color(black a(50%));
    text-shadow: 0 -1px 0 0 color(white a(50%));

    &:focus:not(:disabled) {
      box-shadow: inset 0 0 0 2px var(--gray4);
      border-color: var(--gray3);
    }
  }

  &:disabled {
    opacity: .6;
    cursor: not-allowed;
  }
}
