@import "../../../assets/css/variables.css";

@define-mixin active $color, $blend: 5 {
  border-color: color($color blend(black calc($blend * 4) %));
  border-bottom-color: color($color blend(black calc($blend * 3) %));
  background-color: color($color blend(black calc($blend * 3) %));
  box-shadow: inset 0 -0.1rem 0 0 color(white a(25%));

  &:hover {
    background-color: color($color blend(black calc($blend * 3) %));
  }
}

@define-mixin button $color, $blend: 5 {
  border-color: color($color blend(black 10%));
  border-top-color: color($color blend(black $(blend) %));
  background-color: color($color);
  outline-color: color($color);

  &:focus {
    outline: none;
    background-color: color($color blend(black calc($blend * 3) %));
    border-color: color($color blend(black calc($blend * 10) %));
  }

  &:hover:not(:disabled) {
    background-color: color($color blend(black $(blend) %));
  }

  &:active:not(:disabled) {
    @mixin active $color, $blend);
  }

  @mixin-content;
}

.button {
  font-size: 1em;
  font-weight: 500;
  display: inline-block;
  padding: 1.2rem 2rem;
  cursor: pointer;
  color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.primary {
  composes: button;
  @mixin button var(--primary-color);
}

.primary-active {
  composes: primary;
  @mixin active var(--primary-color);
}

.alternate {
  composes: button;
  @mixin button var(--link-color);
}

.alternate-active {
  composes: alternate;
  @mixin active var(--link-color);
}

.danger {
  composes: button;
  @mixin button var(--red);
}

.danger-active {
  composes: danger;
  @mixin active var(--red);
}

.secondary {
  composes: button;
  color: color(black a(50%));
  text-shadow: 0 -1px 0 0 color(white a(50%));
  @mixin button var(--gray5), 3 {
    outline: none;
  }
}

.secondary-active {
  composes: secondary;
  @mixin active var(--gray5), 3);
}

.warning {
  composes: button;
  color: var(--red);
  text-shadow: 0 -1px 0 0 color(white a(50%));
  outline-color: var(--red);
  @mixin button var(--gray5), 3 {
    outline-color: color(var(--red) w(50%));
  }
}

.warning-active {
  composes: warning;
  @mixin active var(--gray5), 3);
}
