@import "../../../assets/css/variables.css";

.grid {
  margin-right: auto;
  margin-left: auto;

  &:not(.fluid) {
    @media (--sm-viewport) {
      width: var(--container-sm, 46rem);
    }

    @media (--md-viewport) {
      width: var(--container-md, 61rem);
    }

    @media (--lg-viewport) {
      width: var(--container-lg, 71rem);
    }
  }
}

.fluid {
  composes: grid;
  padding-right: var(--outer-margin, 2rem);
  padding-left: var(--outer-margin, 2rem);
}
