@import 'variables.styl'

html
  &[data-whatinput="keyboard"] .nav-item > div > :first-child:focus
    box-shadow: inset 0 0 6px 2px #3076b7, 0 0 6px 2px #3076b7;
    outline: 0


  &[data-whatinput="mouse"] .nav-item > div > :first-child:focus
   outline: 0

.nav-item
  background-color: inherit
  border: 0
  cursor: pointer
  display: inline-block
  position: relative

  > div
    color: $gray3
    display: inline-block
    font-size: 1.5rem

    > :first-child
      border: 1px solid transparent
      display: inline-block
      padding: 2rem

  &.active > div
    color: white
