@import '../../variables.styl'

.columns
  box-sizing border-box
  padding-right $half-gutter-width
  padding-left $half-gutter-width

.columns.tiny
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;


for i in (1..12)
  .columns.tiny-{i}
    max-width i * 8.3333333333333333 + '%'
    flex-basis i * 8.3333333333333333 + '%'

  .columns.tiny-offset-{i}
    margin-left: i * 8.3333333333333333 + '%'

for type, index in $types
  .columns.{type}
    @extend .columns.tiny

    +media(type)
      for i in (1..12)
        &-{i}
          max-width i * 8.3333333333333333 + '%'
          flex-basis i * 8.3333333333333333 + '%'

        &-offset-{i}
          margin-left: i * 8.3333333333333333 + '%'
