@import "../../../assets/css/variables.css";

.wrapper {
  position: relative;
  display: inline-block;
  padding: 1rem;
  height: 100%;
  outline: none;
  border: 1px solid color(var(--black) a(10%));
  border-radius: 3px;
  background-color: var(--gray5);
  box-shadow: inset 0 2px 0 0 color(var(--white) a(20%));
  color: color(black a(75%));
  font-size: 1em;
  cursor: pointer;

  & span:first-child {
    vertical-align: middle;
    display: inline-block;
    width: 12rem;
    margin-right: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5rem;
  }

  &:focus {
    border: 1px solid color(var(--link-color));
    outline: none;
  }
}

.disabled {
  composes: wrapper;
  color: color(black a(33%));
  opacity: 0.75;
  cursor: not-allowed;

  &:focus {
    border: 0;
  }
}

.ul {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 20rem;
  border: 1px solid var(--gray4);
  border-radius: 3px;
  border-top-left-radius: 0;
}

.menu {
  position: absolute;
  z-index: 10;
  min-width: 30rem;
  max-width: 100%;
  outline: none;
  background-color: white;

  &.active {
    color: var(--link-color);
  }
}
