@import "../../../assets/css/variables.css";

.wrapper {
  position: relative;
  display: inline-block;
  padding: 0.75em 2rem;
  height: 100%;
  outline: none;
  border: 1px solid color(var(--black) a(10%));
  border-radius: 3px;
  background-color: var(--gray5);
  box-shadow: inset 0 2px 0 0 color(var(--white) a(20%));
  color: color(black a(75%));
  font-size: 1em;
  cursor: pointer;

  &:focus {
    border: 1px dotted color(var(--link-color));
  }

  &:active {
    border: 1px solid color(var(--link-color));
  }
}

.disabled {
  color: color(black a(33%));
  opacity: 0.75;
  cursor: not-allowed;
}

.icon {
  float: right;
  margin-left: 1.2rem;
}

.ul {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 20rem;
  border: 1px solid var(--gray4);
  border-radius: 3px;
  border-top-left-radius: 0;
}

.menu {
  position: absolute;
  top: 3.5rem;
  z-index: 10;
  min-width: 30rem;
  max-width: 100%;
  outline: none;
  background-color: white;

  &.active {
    color: var(--link-color);
  }
}
