@import "../../../assets/css/variables.css";

.option {
  position: relative;
  z-index: 2;
  padding: 0.75em 0 0.75em 2rem;
  outline: none;
  border: 1px solid transparent;
  color: color(black a(75%));
  cursor: pointer;

  &.active {
    z-index: 2;
    border-color: var(--link-color);
    background-color: var(--link-color);
    color: color(var(--white) a(75%));

    &:focus {
      z-index: 3;
      border: 1px dotted color(var(--white));
    }
  }

  &:hover:not(.active) {
    background-color: color(var(--link-color) a(10%));
    color: var(--link-color);
  }

  &:focus:not(.active) {
    z-index: 3;
    border: 1px dotted color(var(--link-color));
  }
}
