@import "../../../assets/css/variables.css";

.icon {
  vertical-align: middle;
  width: 3rem;
  height: 3rem;
}

.primary {
  composes: icon;
  color: var(--primary-color);
}

.alternate {
  composes: icon;
  color: var(--link-color);
}
