@import 'variables.styl'

html
  &[data-whatinput="keyboard"] .checkbox:focus
    outline-color: $link-color
    z-index: 5

    & > svg, & > span
      color: $link-color
      opacity: 0.75

  &[data-whatinput="mouse"].checkbox:focus
    outline: 0

.container
  overflow: auto
  width: 100%

.checkbox
  border: 1px solid transparent
  clear: left
  cursor: pointer
  display: block
  position: relative
  margin: 0
  padding: 0.5rem 0 0.5rem 2rem
  transform-origin: 0 50%

  &.small
    width: 2rem

  & > svg
    color: black
    cursor: pointer
    display: inline-block
    opacity: 0.5
    position: absolute
    left: 0
    top: 0.5rem
    transition: opacity 0.2s ease

  & > span
      color: alpha(black 75%)
      display: inline-block
      margin-left: 0.5rem
      vertical-align: middle

  &:hover > span, &:hover svg
    color: $link-color
    opacity: 0.5

  &.selected
    color: $link-color
    opacity: 1

    & > svg
      opacity: 1

      & > svg, & > span
        opacity: 1

      &::after
        opacity: 1

    & > svg, & > span
      color: $link-color
      opacity: 1
