@import 'variables.styl'

.modal-underlay
  background-color: rgba(0, 0, 0, 0)
  transition: all 0.3s linear

  &.has-entered
    background-color: rgba(0, 0, 0, 0.7)

.modal-animated
  opacity: 0.3
  transition: opacity 0.3s linear

  &.has-entered
    opacity: 1

.modal-card
  background-color: white
  box-shadow: alpha(black 20%) 0 1rem 1rem

.modal
  border-radius: 4px
  left: 0
  margin: 0
  margin-bottom: 1rem
  position: absolute
  right: 0
  top: 0
  width: 100%

+media(medium)
  .modal
    top: 50%;
    transform: translateY(-50%);
    border-radius: 3px
    left: 0
    margin: 0 auto
    max-width: $viewport[medium]
    right: 0
    width: 80%

.modal-close-icon
  right: 1rem
  z-index: 1
  top: 0.5rem
  border: 0
  color: #ffffff
  background: transparent
  padding: 0
  cursor: pointer
  font-size: 2.5rem
  position: absolute
  transition: all 0.3s ease-in-out

  &:hover
    transform: scale(1.2)

  &.has-card
    color: #000
