@import 'variables.styl'

.nav-content
	background-color: $tab-panel-background

.nav-panel
	-ms-overflow-style: -ms-autohiding-scrollbar
	-webkit-overflow-scrolling: touch
	color: alpha(black 75%)
	overflow-x: scroll
	position: relative
	white-space: nowrap
	width: 100%

	+media(medium)
		overflow-x: hidden

	&.top
		& > .nav-panel-border
			top: 0

	&:not(top)
		& > .nav-panel-border
			bottom: 0

.nav-panel-border
	background-color: $accent-color
	display: none
	height: 0.25rem
	position: absolute
	transition: all 0.2s ease
	z-index: 10


@media screen and (min-width: 800px)
	.nav-panel-border
		display: block
