@import 'variables.styl'

.modal-underlay
  -webkit-transition: all 0.3s linear
  background-color: rgba(0, 0, 0, 0)
  transition: all 0.3s linear

.modal-underlay.has-entered
  background-color: rgba(0, 0, 0, 0.5)

.modal-animated
  -webkit-transform: scale(1.1) translateY(-10px)
  -webkit-transition: all 0.3s linear
  opacity: 0.3
  transform: scale(1.1) translateY(-10px)
  transition: all 0.3s linear

.modal-animated.has-entered
  -webkit-transform: scale(1) translateY(0)
  opacity: 1
  transform: scale(1) translateY(0)

.modal
  background-color: white
  border-radius: 4px
  box-shadow: alpha(black 20%) 0 1rem 1rem
  left: 0
  margin: 0
  margin-bottom: 1rem
  padding: 2rem
  position: absolute
  right: 0
  top: 0
  width: 100%

+media(medium)
  .modal
    border-radius: 3px
    left: 0
    margin: 0 auto
    max-width: $viewport[medium]
    padding: 2rem
    right: 0
    top: 6rem
    width: 80%

.modal-close-icon
  color: $gray2
  cursor: pointer
  font-size: 2.5rem
  position: absolute
  right: 1rem
  top: 1rem
  transition: all 0.2s ease-in-out

  &:hover
    transform: scale(1.2)
