@import "../../../assets/css/variables.css";

.content {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: auto;
  border: 1px solid transparent;
  cursor: pointer;

  & > svg {
    color: black;
    opacity: 0.5;
    position: relative;
    cursor: pointer;

    & > g {
      outline: 6px solid transparent;
      transition: outline-color 0.5s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  & > span {
    color: color(black a(75%));
    vertical-align: middle;
    margin-left: 0.5rem;
    display: inline-block;
  }

  &:focus {
    &::after {
      opacity: 1;
      content: '\f124';
      margin-top: 0.25rem;
      font-size: 0.5rem;
      vertical-align: middle;
      margin-left: 0.5rem;
      display: inline-block;
      font-family: Ionicons;
    }
  }
}

.selected {
  composes: content;
  color: var(--link-color);
  opacity: 1;

  & > svg {
    opacity: 1;
    color: var(--link-color);
  }

  & > span {
    color: var(--link-color);
  }
}
