@import 'variables.styl'

html[data-whatinput="keyboard"] .checkbox:focus
  z-index: 5
  outline-color: $link-color

  & > svg, & > span
    color: $link-color
    opacity: 0.75

html[data-whatinput="mouse"] .checkbox:focus
  outline: none

.checkbox
  border: 1px solid transparent
  clear: left
  cursor: pointer
  display: block
  float: left
  margin: 0
  padding: 0
  transform-origin: 0 50%

  &.small
    width: 2rem;

  & > svg
    color: black
    cursor: pointer
    display: inline-block
    opacity: 0.5
    position: relative
    transition: opacity 0.2s ease

  & > span
      color: alpha(black 75%)
      display: inline-block
      margin-left: 0.5rem
      vertical-align: middle

  &:hover > span, &:hover svg
    color: $link-color
    opacity: 0.5

  &.selected
    color: $link-color
    opacity: 1

    & > svg
      opacity: 1

      & > svg, & > span
        opacity: 1

      &::after
        opacity: 1

    & > svg, & > span
      color: $link-color
      opacity: 1
