@import "../../../assets/css/variables.css";

.tab {
  display: inline-block;
  padding: 2rem 2.5rem;
  width: auto;
  outline: none;
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;

  &-active-bottom {
    box-shadow: inset 0 -3px 0 0 var(--primary-color);
    color: #2ad587;
  }

  &-active-top {
    box-shadow: inset 0 3px 0 0 var(--primary-color);
    color: #2ad587;
  }
  @media (--medium-viewport) {
    display: block;
    padding: 1.5rem 2rem 1.5rem 0;
    box-shadow: none;
    color: white;

    &-active-top,
    &-active-bottom {
      box-shadow: inset 0 -3px 0 0 var(--primary-color);
      color: var(--primary-color);
    }
  }
}
