@import 'variables.styl'

.nav-panel
  white-space nowrap
  overflow-x scroll
  -webkit-overflow-scrolling touch
  -ms-overflow-style -ms-autohiding-scrollbar
  display block
  width 100%
  background-color $tab-panel-background
  color alpha(black 75%)
