$accent-color = #41d492
$link-color = #1964eb
$gray3 = #bfbfbf
$gray4 = #e5e5e5
$gray5 = #f2f2f2
$red = #f5474f
$yellow = #fce563

$half-gutter-width = 0.5rem
$types = sm md lg
$viewport = {
  sm: 48em,
  md: 64em,
  lg: 75em
}
