@import 'variables.styl'

.alert
  color black
  background-color $gray4

  &.primary
    color blend(rgba($accent-color, .6), black)
    background-color $alert-primary-background

  &.link
    color blend(rgba($link-color, .6), black)
    background-color $alert-link-background

  &.danger
    color blend(rgba($red, .6), black)
    background-color $alert-danger-background
